<section>
  <div class="modal">
    <form>
      <i class="pi pi-user-edit"></i>
      <h4>Antes de confirmarmos o pedido, por favor, preencha seus dados:</h4>
      <div class="input">
        <label for="name">Nome:</label>
        <input type="text" id="name">
      </div>
      <div class="input">
        <label for="number">Whatsapp:</label>
        <input type="number" id="number">
      </div>
      <div class="btn">
        <button type="button">Cancelar</button>
        <button type="submit">Confirmar</button>
      </div>
    </form>
  </div>
</section>
